<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Dosen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
    <link rel="stylesheet" href="/css/w3.css" />
    <link rel="stylesheet" href="/css/w3-theme-black.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
</head>
<body id="myPage">
    <%- include('../home/header');%>
    <div class="w3-container w3-padding-64 w3-theme-l5">
        <h2 class="w3-center">Daftar Data Dosen</h2><br>
        <a href="http://localhost:4646/data-dosen/editor"><button type="button" class="w3-button w3-teal w3-round w3-hover-indigo">Tambah Data</button></a><br>
        <br>
        <table class="w3-table-all w3-card-4 w3-hoverable">
            <tr>
              <th>NIDN</th>
              <th>Nama Lengkap</th>
              <th>Fakultas</th>
              <th>Prodi</th>
              <th>Alamat</th>
              <th>Aksi</th>
            </tr>
            <% data.forEach(function (value){ %>
              <tr>
                <td><%= value.dosen_id %></td>
                <td><%= value.nama_lengkap %></td>
                <td><%= value.fakultas %></td>
                <td><%= value.prodi %></td>
                <td><%= value.alamat %></td>
                <td><a href="http://localhost:4646/data-dosen/detail/<%= value.dosen_id %>"><button type="button" class="w3-button w3-teal w3-round w3-hover-indigo">Detail</button></a> | 
                <a href="http://localhost:4646/data-dosen/delete/<%= value.dosen_id %>"><button type="button" class="w3-button w3-red w3-round w3-hover-khaki">Hapus</button></a>
                </td>
              </tr>
            <% }) %>
          </table>
    </div>
    <%- include('../home/footer');%>

</body>
</html>