<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Detail | <%= data.judul_artikel; %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
    <link rel="stylesheet" href="/css/w3.css" />
    <link rel="stylesheet" href="/css/w3-theme-black.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head> 
  <body id="myPage">
    <%- include('../home/header');%>
    <br /><br />
    <div class="w3-container">
      <br />
      <div class="w3-bar">
        <div class="w3-left">
            <a href="<%=baseURL%>/data-dosen
            "><button type="button" class="w3-button w3-teal w3-round w3-hover-indigo"><i class="fa fa-arrow-left" aria-hidden="true"></i> Kembali</button></a><br />
        </div>
        <div class="">
            <a href="/data-artikel/editor?update_id=<%= data.jurnal_id; %>"><button type="button" class="w3-button w3-green w3-round w3-hover-khaki"><i class="fa fa-pencil" aria-hidden="true"></i>Edit Data</button></a>
        </div>
        <br />
      </div>
      <div class="w3-card w3-center w3-hover-shadow" style="width: 30%">
        <div class="w3-container">
          <p>Judul: <%= data.judul_artikel; %></p>
          <p>Publisher: <%= data.publisher; %></p>
          <p>Nama Jurnal: <%= data.nama_jurnal; %></p>
          <p>ISSN: <%= data.issn; %></p>
          <p>Tahun: <%= data.tahun; %></p>
        </div>
      </div>
    </div>
    <%- include('../home/footer');%>
  </body>
</html>
